<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAnJzzvRb9owBDgEUxqJ5mIOtstPmu3qs</string>
	<key>GCM_SENDER_ID</key>
	<string>273247794856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartparkingble.smartParkingBle</string>
	<key>PROJECT_ID</key>
	<string>mawqifi-81e4b</string>
	<key>STORAGE_BUCKET</key>
	<string>mawqifi-81e4b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273247794856:ios:f54ae66890ec779b89749d</string>
	<key>DATABASE_URL</key>
	<string>https://mawqifi-81e4b-default-rtdb.firebaseio.com</string>
</dict>
</plist>